<h4 class="text-center"><span>1. Build Survey</span> | <span class="text-muted">2. Build Questions</span></h3>
<hr>
<%= form_for survey do |f| %>
<div class="form-group">
  <%= f.label 'Title' %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label 'Description' %>
  <%= f.text_area :description, class: 'form-control', rows: 5 %>
</div>
<div class="row">
  <div class="form-group col-sm-4">
    <% if defined?(edit) && edit %>
      <%= f.submit "Save and Continue", class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit "Create Survey and Continue to Questions", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<% end %>
